<!--
 Name: Qi Yang  
 StudentID: 301313468     
 Date: 2022/10/22

-->

<%- include ('partials/crud_header') %>

  <h1><%= title %></h1>
  <p>Welcome <%= userName %> to <%= title %> page</p>


<%- include ('partials/crud_footer') %>
